<ons-page ng-controller="PsalmController">
    <ons-toolbar>
        <div class="center">
            <ons-toolbar-button >
                <ons-icon icon="ion-android-list" ></ons-icon> Orar con salmos
            </ons-toolbar-button>
        </div>
        <div class="right" data-ng-show="showPsalm()">
            <ons-toolbar-button data-ng-click="Reset()">
                <ons-icon icon="ion-reply" ></ons-icon> Atrás
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-list class="person-list" ng-repeat="cat in PsalmTree" data-ng-show="showCategory()">
        <ons-list-header class="person-list-header">{{cat.name}}</ons-list-header>
        <ons-list-item class="person" ng-repeat="i in cat.children">
            <ons-row>
                <ons-col width="40px">
                    <img src="assets/img/bookmark-xxl.png" class="person-image">
                </ons-col>
                <ons-col class="person-name">
                    <span data-ng-click="toOpen(i)">{{i.title}}</span>
                    <ons-list class="person-list" data-ng-show="isOpen(i)">
                        <ons-list-item data-ng-repeat="c in i.items" modifier="tappable">
                            <ons-row>
                                <ons-col>
                                   <span data-ng-click="openPsalm(c)"> {{c}} </span>

                                </ons-col>
                            </ons-row>
                        </ons-list-item>
                    </ons-list>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
    <ons-list class="person-list" data-ng-show="showPsalm()==true">
        <ons-list-header class="person-list-header">Salmo {{psalm}}</ons-list-header>
        <!--<ons-list-item class="person" data-ng-repeat="verse in chapter.verses track by $index">-->
        <ons-list-item class="person" data-ng-repeat="verse in versos track by $index">
           <em>{{verse.bib_versiculo}} - </em> {{verse.bib_escritura}}
        </ons-list-item>
    </ons-list>
</ons-page>