<ons-page ng-controller="AboutController">
    <ons-toolbar>
        <div class="center">
            <ons-toolbar-button >
                <img src="assets/img/favicon-32x32.png" class="person-image">
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-row>
        <ons-col>
            <img src="assets/img/code.png" >
        </ons-col>
    </ons-row>
    <ons-row>
        <ons-col>
           <div>
              <p style="text-align: justify">
                  Mantenimiento y desarrollo de sistemas informáticos a la medida.
                  Somos un equipo de programadores e investigadores que nos especializamos en el desarrollo de aplicaciones web. Somos más eficientes en el análisis, diseño e implementación de aplicaciones de gestión (gestión de usuarios, clientes, libros, artículos, etc.), así como el soporte (actualización y mantenimiento correctivo) a aplicaciones con “código heredado”, o sea, desarrolladas previamente por otro equipo o personas.
                  Garantizamos profesionalidad, eficiencia y calidad en los productos terminados.
              </p>
           </div>
        </ons-col>
    </ons-row>
    <ons-row>
        <ons-col>
            <ons-list>
                <ons-list-item  ><ons-icon icon="ion-android-contact"><div style="font-size: 10px;">Codechanic</div></ons-icon></ons-list-item>
                <ons-list-item ><ons-icon icon="ion-ios-telephone"><div style="font-size: 10px;">+5354260518 - +5355112453</div></ons-icon></ons-list-item>
                <ons-list-item > <ons-icon icon="ion-android-contact"><div style="font-size: 10px;">codechanic@gmail.com</div></ons-icon></ons-list-item>
                <ons-list-item > <ons-icon icon="ion-social-twitter"><div style="font-size: 10px;">@codechanic</div></ons-icon></ons-list-item>
                <ons-list-item ><ons-icon icon="ion-social-github"><div style="font-size: 10px;">https://github.com/Codechanic</div></ons-icon></ons-list-item>
                <ons-list-item ><ons-icon icon="ion-social-linkedin"><div style="font-size: 10px;">https://www.linkedin.com/company/codechanic</div></ons-icon></ons-list-item>
                <ons-list-item><ons-icon icon="ion-social-wordpress"><div style="font-size: 10px;">https://codechanic.wordpress.com/</div></ons-icon></ons-list-item>
            </ons-list>
        </ons-col>
    </ons-row>
    <ons-row>
        <ons-col>
            <div>
                <span style="text-align: justify">
                        Y en respuesta les dije: El Dios de los cielos, él nos prosperará, y nosotros sus siervos nos levantaremos y edificaremos, porque vosotros no tenéis parte ni derecho ni memoria en Jerusalén.
                    <em>Nehemías  2:20</em>
                </span>
            </div>
        </ons-col>
    </ons-row>

</ons-page>